<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.mapper.UserMapper" >
  <select id="selectName" parameterType="com.admin.common.orm.criteria.SearchCriteria" resultType="java.util.Map">
    select username from tb_managr_user where id =1
  </select>
</mapper>